// Mirrored from demo.interface.club/limitless/layout_1/LTR/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 27 Oct 2015 10:29:46 GMT
// Added by HTTrack
meta(http-equiv='content-type', content='text/html;charset=UTF-8')
// /Added by HTTrack
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
        title Colégio e Curso Nota 10
    // Global stylesheets
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900', rel='stylesheet', type='text/css')
    link(href='assets/css/icons/icomoon/styles.css', rel='stylesheet', type='text/css')
    link(href='assets/css/bootstrap.css', rel='stylesheet', type='text/css')
    link(href='assets/css/core.css', rel='stylesheet', type='text/css')
    link(href='assets/css/components.css', rel='stylesheet', type='text/css')
    link(href='assets/css/colors.css', rel='stylesheet', type='text/css')
    link(href='assets/css/custom.css', rel='stylesheet', type='text/css')
    // /global stylesheets
    // Core JS files
    script(type='text/javascript', src='assets/js/plugins/loaders/pace.min.js')
    script(type='text/javascript', src='assets/js/core/libraries/jquery.min.js')
    script(type='text/javascript', src='assets/js/core/libraries/bootstrap.min.js')
    script(type='text/javascript', src='assets/js/plugins/loaders/blockui.min.js')
    // /core JS files
    // Theme JS files
    block theme-js-files
        script(type='text/javascript', src='assets/js/plugins/visualization/d3/d3.min.js')
        script(type='text/javascript', src='assets/js/plugins/visualization/d3/d3_tooltip.js')
        script(type='text/javascript', src='assets/js/plugins/forms/styling/switchery.min.js')
        script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')
        script(type='text/javascript', src='assets/js/plugins/forms/selects/bootstrap_multiselect.js')
        script(type='text/javascript', src='assets/js/plugins/ui/moment/moment.min.js')
        script(type='text/javascript', src='assets/js/plugins/pickers/daterangepicker.js')
        script(type='text/javascript', src='assets/js/core/app.js')
        script(type='text/javascript', src='assets/js/pages/dashboard.js')
    // /theme JS files