//  - Secretaria
    - Membros
        - Salvar, Salvar e Imprimir Cartão de Membro, fechar
    - Relatório
    - Cartão de Membros
    - Certificado de Batismo
    Tesouraria - Financeiro
    Departamentos
    Site
        - Noticias
        - Eventos
        - Textos das Páginas
        - Home
        - A Igreja
        - Junte-se
        - Contato
        - Contatos Recebidos

// Main sidebar
.sidebar.sidebar-main.bg-blue-800
    .sidebar-content
        // User menu
        .sidebar-user
            .category-content
                .media
                    a.media-left(href='#')
                        img.img-circle.img-sm(src='assets/images/logo-nota10-branca.png', alt='')
                    .media-body
                        span.media-heading.text-semibold Curso Nota 10
                        .text-size-mini.text-muted
                            i.icon-pin.text-size-small
                            |  &nbsp;Juiz de Fora, MG
        // /user menu
        // Main navigation
        .sidebar-category.sidebar-category-visible
            .category-content.no-padding
                ul.navigation.navigation-main.navigation-accordion
                    // Main
                    li.navigation-header
                        span Principal
                        |  
                        i.icon-menu(title='Main pages')
                    li.active
                        a(href='index.html')
                            i.icon-home4
                            |  
                            span Dashboard
                    // /Main
                    // Site
                    li.navigation-header
                        span.text-green-300 Site
                        i.icon-menu(title='Main pages')
                    li
                        a(href='contas_a_pagar.html')
                            i.icon-cash3.text-green-300
                            span Banners
                    li
                        a(href='contas_a_receber.html')
                            i.icon-piggy-bank.text-green-300
                            span Notícias
                    li
                        a(href='fluxo_de_caixa.html')
                            i.icon-chart.text-green-300
                            span Eventos
                    li
                        a(href='contas_bancarias.html')
                            i.icon-safe.text-green-300
                            span Contatos Recebidos
                    li
                        a(href='#')
                            i.icon-users2.text-orange-300
                            span Textos das Páginas
                        ul
                            li
                                a(href='cadastrar_aluno.html') Home
                            li
                                a(href='alunos_cadastrados.html') A Igreja
                            li
                                a(href='alunos_matriculados.html') Junte-se
                            li
                                a(href='alunos_matriculados.html') Contato
                    // /Site
                    // Seecretarias
                    li.navigation-header
                        span.text-orange-300 Secretaria
                        i.icon-menu(title='Main pages')
                    li
                        a(href='#')
                            i.icon-users2.text-orange-300
                            span Membros
                        ul
                            li
                                a(href='cadastrar_aluno.html') Cadastrar
                            li
                                a(href='alunos_cadastrados.html') Listar Membros
                            li
                                a(href='alunos_matriculados.html') Imprimir cartão
                    li
                        a(href='disciplinas.html')
                            i.icon-book.text-orange-300
                            span Certificado de Batismos
                    // /Secretaria
                    // Tesouraria
                    li.navigation-header
                        span.text-green-300 Tesouraria
                        i.icon-menu(title='Main pages')
                    li
                        a(href='contas_a_pagar.html')
                            i.icon-cash3.text-green-300
                            span Contas a Pagar
                    li
                        a(href='contas_a_receber.html')
                            i.icon-piggy-bank.text-green-300
                            span Contas a Receber
                    li
                        a(href='fluxo_de_caixa.html')
                            i.icon-chart.text-green-300
                            span Caixa
                    li
                        a(href='contas_bancarias.html')
                            i.icon-safe.text-green-300
                            span Contas Financeiras
                    li
                        a(href='planos_de_contas.html')
                            i.icon-price-tags2.text-green-300
                            span Planos de Contass
                    // /Tesouraria
                    // Relatórios
                    li.navigation-header
                        span.text-info-300 Relatórios
                        i.icon-menu(title='Relatórios')
                    li
                        a(href='components_animations.html')
                            i.icon-shredder.text-info-300
                            |  
                            span Relatório 01
                    li
                        a(href='components_animations.html')
                            i.icon-shredder.text-info-300
                            |  
                            span Relatório 02
                    li
                        a(href='components_animations.html')
                            i.icon-shredder.text-info-300
                            |  
                            span Relatório 03
                    li
                        a(href='components_animations.html')
                            i.icon-shredder.text-info-300
                            |  
                            span Relatório 04
                    li
                        a(href='components_animations.html')
                            i.icon-shredder.text-info-300
                            |  
                            span Relatório 05
                    // /Relatórios
                    // Configurações
                    li.navigation-header
                        span.text-danger-300 Sistema
                        i.icon-menu(title='Relatórios')
                    li
                        a(href='configuracoes_cliente.html')
                            i.icon-cog4.text-danger-300
                            span Configurações do Cliente
                    li
                        a(href='suporte.html')
                            i.icon-help.text-danger-300
                            span Suporte
                    // /Configurações
        // /main navigation
// /main sidebar