#navbar-second.navbar.navbar-default
    ul.nav.navbar-nav.no-border.visible-xs-block
        li
            a.text-center.collapsed(data-toggle='collapse' data-target='#navbar-second-toggle')
                i.icon-menu7

    #navbar-second-toggle.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-nav-material
            li.active
                a(href='index.html')
                    i.icon-display4.position-left
                    |  Dashboard

            li.dropdown.mega-menu.mega-menu-wide
                a.dropdown-toggle(href='#' data-toggle='dropdown')
                    i.icon-puzzle4.position-left
                    |  Components
                    span.caret

                .dropdown-menu.dropdown-content
                    .dropdown-content-body
                        .row
                            .col-md-3
                                span.menu-heading.underlined Forms

                                ul.menu-list
                                    li
                                        a(href='#')
                                            i.icon-pencil3
                                            |  Form components

                                        ul
                                            li
                                                a(href='form_inputs_basic.html') Basic inputs

                                            li
                                                a(href='form_checkboxes_radios.html') Checkboxes &amp; radios

                                            li
                                                a(href='form_input_groups.html') Input groups

                                            li
                                                a(href='form_controls_extended.html') Extended controls

                                            li
                                                a(href='form_floating_labels.html') Floating labels

                                            li
                                                a(href='#') Selects

                                                ul
                                                    li
                                                        a(href='form_select2.html') Select2 selects

                                                    li
                                                        a(href='form_multiselect.html') Bootstrap multiselect

                                                    li
                                                        a(href='form_select_box_it.html') SelectBoxIt selects

                                                    li
                                                        a(href='form_bootstrap_select.html') Bootstrap selects

                                            li
                                                a(href='form_tag_inputs.html') Tag inputs

                                            li
                                                a(href='form_dual_listboxes.html') Dual Listboxes

                                            li
                                                a(href='form_editable.html') Editable forms

                                            li
                                                a(href='form_validation.html') Validation

                                            li
                                                a(href='form_inputs_grid.html') Inputs grid

                                    li
                                        a(href='#')
                                            i.icon-file-css
                                            |  JSON forms

                                        ul
                                            li
                                                a(href='alpaca_basic.html') Basic inputs

                                            li
                                                a(href='alpaca_advanced.html') Advanced inputs

                                            li
                                                a(href='alpaca_controls.html') Controls

                                    li
                                        a(href='#')
                                            i.icon-footprint
                                            |  Wizards

                                        ul
                                            li
                                                a(href='wizard_steps.html') Steps wizard

                                            li
                                                a(href='wizard_form.html') Form wizard

                                            li
                                                a(href='wizard_stepy.html') Stepy wizard

                                    li
                                        a(href='#')
                                            i.icon-spell-check
                                            |  Editors

                                        ul
                                            li
                                                a(href='editor_summernote.html') Summernote editor

                                            li
                                                a(href='editor_ckeditor.html') CKEditor

                                            li
                                                a(href='editor_wysihtml5.html') WYSIHTML5 editor

                                            li
                                                a(href='editor_code.html') Code editor

                                    li
                                        a(href='#')
                                            i.icon-select2
                                            |  Pickers

                                        ul
                                            li
                                                a(href='picker_date.html') Date &amp; time pickers

                                            li
                                                a(href='picker_color.html') Color pickers

                                            li
                                                a(href='picker_location.html') Location pickers

                                    li
                                        a(href='#')
                                            i.icon-insert-template
                                            |  Form layouts

                                        ul
                                            li
                                                a(href='form_layout_vertical.html') Vertical form

                                            li
                                                a(href='form_layout_horizontal.html') Horizontal form

                            .col-md-3
                                span.menu-heading.underlined Appearance

                                ul.menu-list
                                    li
                                        a(href='#')
                                            i.icon-grid
                                            |  Components

                                        ul
                                            li
                                                a(href='components_modals.html') Modals

                                            li
                                                a(href='components_dropdowns.html') Dropdown menus

                                            li
                                                a(href='components_tabs.html') Tabs component

                                            li
                                                a(href='components_pills.html') Pills component

                                            li
                                                a(href='components_navs.html') Accordion and navs

                                            li
                                                a(href='components_buttons.html') Buttons

                                            li
                                                a(href='components_notifications_pnotify.html') PNotify notifications

                                            li
                                                a(href='components_notifications_others.html') Other notifications

                                            li
                                                a(href='components_popups.html') Tooltips and popovers

                                            li
                                                a(href='components_alerts.html') Alerts

                                            li
                                                a(href='components_pagination.html') Pagination

                                            li
                                                a(href='components_labels.html') Labels and badges

                                            li
                                                a(href='components_loaders.html') Loaders and bars

                                            li
                                                a(href='components_thumbnails.html') Thumbnails

                                            li
                                                a(href='components_page_header.html') Page header

                                            li
                                                a(href='components_breadcrumbs.html') Breadcrumbs

                                            li
                                                a(href='components_media.html') Media objects

                                            li
                                                a(href='components_affix.html') Affix and Scrollspy

                                    li
                                        a(href='#')
                                            i.icon-browser
                                            |  Content panels

                                        ul
                                            li
                                                a(href='panels.html') Panels

                                            li
                                                a(href='panels_heading.html') Heading elements

                                            li
                                                a(href='panels_footer.html') Footer elements

                                            li
                                                a(href='panels_draggable.html') Draggable panels

                                    li
                                        a(href='#')
                                            i.icon-droplets
                                            |  Content styling

                                        ul
                                            li
                                                a(href='appearance_text_styling.html') Text styling

                                            li
                                                a(href='appearance_typography.html') Typography

                                            li
                                                a(href='appearance_helpers.html') Helper classes

                                            li
                                                a(href='appearance_syntax_highlighter.html') Syntax highlighter

                                            li
                                                a(href='appearance_content_grid.html') Grid system

                                    li
                                        a(href='#')
                                            i.icon-gift
                                            |  Extra components

                                        ul
                                            li
                                                a(href='extra_sliders_noui.html') NoUI sliders

                                            li
                                                a(href='extra_sliders_ion.html') Ion range sliders

                                            li
                                                a(href='extra_trees.html') Dynamic tree views

                                            li
                                                a(href='extra_context_menu.html') Context menu

                                            li
                                                a(href='extra_fab.html') Floating action buttons

                                    li
                                        a(href='#')
                                            i.icon-wrench3
                                            |  Tools

                                        ul
                                            li
                                                a(href='tools_session_timeout.html') Session timeout

                                            li
                                                a(href='tools_idle_timeout.html') Idle timeout

                            .col-md-3
                                span.menu-heading.underlined Extensions

                                ul.menu-list
                                    li
                                        a(href='#')
                                            i.icon-puzzle4
                                            |  Extensions

                                        ul
                                            li
                                                a(href='extension_image_cropper.html') Image cropper

                                            li
                                                a(href='extension_blockui.html') Block UI

                                            li
                                                a(href='extension_dnd.html') Drag and drop

                                    li
                                        a(href='#')
                                            i.icon-popout
                                            |  JQuery UI

                                        ul
                                            li
                                                a(href='jqueryui_interactions.html') Interactions

                                            li
                                                a(href='jqueryui_forms.html') Forms

                                            li
                                                a(href='jqueryui_components.html') Components

                                            li
                                                a(href='jqueryui_sliders.html') Sliders

                                            li
                                                a(href='jqueryui_navigation.html') Navigation

                                    li
                                        a(href='#')
                                            i.icon-upload
                                            |  File uploaders

                                        ul
                                            li
                                                a(href='uploader_plupload.html') Plupload

                                            li
                                                a(href='uploader_bootstrap.html') Bootstrap file uploader

                                            li
                                                a(href='uploader_dropzone.html') Dropzone

                                    li
                                        a(href='#')
                                            i.icon-calendar3
                                            |  Event calendars

                                        ul
                                            li
                                                a(href='fullcalendar_views.html') Basic views

                                            li
                                                a(href='fullcalendar_styling.html') Event styling

                                            li
                                                a(href='fullcalendar_formats.html') Language and time

                                            li
                                                a(href='fullcalendar_advanced.html') Advanced usage

                                    li
                                        a(href='#')
                                            i.icon-sphere
                                            |  Internationalization

                                        ul
                                            li
                                                a(href='internationalization_switch_direct.html') Direct translation

                                            li
                                                a(href='internationalization_switch_query.html') Querystring parameter

                                            li
                                                a(href='internationalization_on_init.html') Set language on init

                                            li
                                                a(href='internationalization_after_init.html') Set language after init

                                            li
                                                a(href='internationalization_fallback.html') Language fallback

                                            li
                                                a(href='internationalization_callbacks.html') Callbacks

                            .col-md-3
                                span.menu-heading.underlined Tables

                                ul.menu-list
                                    li
                                        a(href='#')
                                            i.icon-table2
                                            |  Basic tables

                                        ul
                                            li
                                                a(href='table_basic.html') Basic examples

                                            li
                                                a(href='table_sizing.html') Table sizing

                                            li
                                                a(href='table_borders.html') Table borders

                                            li
                                                a(href='table_styling.html') Table styling

                                            li
                                                a(href='table_elements.html') Table elements

                                    li
                                        a(href='#')
                                            i.icon-grid7
                                            |  Data tables

                                        ul
                                            li
                                                a(href='datatable_basic.html') Basic initialization

                                            li
                                                a(href='datatable_styling.html') Basic styling

                                            li
                                                a(href='datatable_advanced.html') Advanced examples

                                            li
                                                a(href='datatable_sorting.html') Sorting options

                                            li
                                                a(href='datatable_api.html') Using API

                                            li
                                                a(href='datatable_data_sources.html') Data sources

                                    li
                                        a(href='#')
                                            i.icon-alignment-unalign
                                            |  Data tables extensions

                                        ul
                                            li
                                                a(href='datatable_extension_reorder.html') Columns reorder

                                            li
                                                a(href='datatable_extension_row_reorder.html') Row reorder

                                            li
                                                a(href='datatable_extension_fixed_columns.html') Fixed columns

                                            li
                                                a(href='datatable_extension_fixed_header.html') Fixed header

                                            li
                                                a(href='datatable_extension_autofill.html') Auto fill

                                            li
                                                a(href='datatable_extension_key_table.html') Key table

                                            li
                                                a(href='datatable_extension_scroller.html') Scroller

                                            li
                                                a(href='datatable_extension_select.html') Select

                                            li
                                                a(href='#') Buttons

                                                ul
                                                    li
                                                        a(href='datatable_extension_buttons_init.html') Initialization

                                                    li
                                                        a(href='datatable_extension_buttons_flash.html') Flash buttons

                                                    li
                                                        a(href='datatable_extension_buttons_print.html') Print buttons

                                                    li
                                                        a(href='datatable_extension_buttons_html5.html') HTML5 buttons

                                            li
                                                a(href='datatable_extension_colvis.html') Columns visibility

                                    li
                                        a(href='#')
                                            i.icon-file-spreadsheet
                                            |  Handsontable

                                        ul
                                            li
                                                a(href='handsontable_basic.html') Basic configuration

                                            li
                                                a(href='handsontable_advanced.html') Advanced setup

                                            li
                                                a(href='handsontable_cols.html') Column features

                                            li
                                                a(href='handsontable_cells.html') Cell features

                                            li
                                                a(href='handsontable_types.html') Basic cell types

                                            li
                                                a(href='handsontable_custom_checks.html') Custom &amp; checkboxes

                                            li
                                                a(href='handsontable_ac_password.html') Autocomplete &amp; password

                                            li
                                                a(href='handsontable_search.html') Search

                                            li
                                                a(href='handsontable_context.html') Context menu

                                    li
                                        a(href='#')
                                            i.icon-versions
                                            |  Responsive options

                                        ul
                                            li
                                                a(href='table_responsive.html') Responsive basic tables

                                            li
                                                a(href='datatable_responsive.html') Responsive data tables

            li.dropdown.mega-menu.mega-menu-wide
                a.dropdown-toggle(href='#' data-toggle='dropdown')
                    i.icon-stars.position-left
                    |  Features
                    span.caret

                .dropdown-menu.dropdown-content
                    .dropdown-content-body
                        .row
                            .col-md-3
                                span.menu-heading.underlined Main content

                                ul.menu-list
                                    li
                                        a(href='#')
                                            i.icon-stack2
                                            |  Page layouts

                                        ul
                                            li
                                                a(href='layout_navbar_main_fixed.html') Fixed main navbar

                                            li
                                                a(href='layout_navbar_secondary_fixed.html') Fixed secondary navbar

                                            li
                                                a(href='layout_navbar_main_hideable.html') Hideable main navbar

                                            li
                                                a(href='layout_navbar_secondary_hideable.html') Hideable secondary navbar

                                            li
                                                a(href='layout_footer_fixed.html') Fixed footer

                                            li
                                                a(href='layout_sidebar_sticky_custom.html') Sticky sidebar (custom scroll)

                                            li
                                                a(href='layout_sidebar_sticky_native.html') Sticky sidebar (native scroll)

                                    li
                                        a(href='#')
                                            i.icon-align-center-horizontal
                                            |  Fixed width

                                        ul
                                            li
                                                a(href='boxed_full.html') Boxed full width

                                            li
                                                a(href='boxed_default.html') Boxed with default sidebar

                                            li
                                                a(href='boxed_mini.html') Boxed with mini sidebar

                                    li
                                        a(href='#')
                                            i.icon-copy
                                            |  Layouts

                                        ul
                                            li
                                                a#layout1(href='../../layout_1/LTR/index.html') Layout 1

                                            li
                                                a#layout2(href='../../layout_2/LTR/index.html') Layout 2

                                            li
                                                a#layout3(href='../../layout_3/LTR/index.html') Layout 3

                                            li
                                                a#layout4(href='index.html')
                                                    | Layout 4
                                                    span.label.bg-warning-400 Current

                                            li
                                                a#layout5(href='../../layout_5/LTR/index.html') Layout 5

                                            li.disabled
                                                a#layout6(href='../../layout_6/LTR/index.html')
                                                    | Layout 6
                                                    span.label.bg-slate-300 Coming soon

                                    li
                                        a(href='#')
                                            i.icon-droplet2
                                            |  Color system

                                        ul
                                            li
                                                a(href='colors_primary.html') Primary palette

                                            li
                                                a(href='colors_danger.html') Danger palette

                                            li
                                                a(href='colors_success.html') Success palette

                                            li
                                                a(href='colors_warning.html') Warning palette

                                            li
                                                a(href='colors_info.html') Info palette

                                            li.divider

                                            li
                                                a(href='colors_pink.html') Pink palette

                                            li
                                                a(href='colors_violet.html') Violet palette

                                            li
                                                a(href='colors_purple.html') Purple palette

                                            li
                                                a(href='colors_indigo.html') Indigo palette

                                            li
                                                a(href='colors_blue.html') Blue palette

                                            li
                                                a(href='colors_teal.html') Teal palette

                                            li
                                                a(href='colors_green.html') Green palette

                                            li
                                                a(href='colors_orange.html') Orange palette

                                            li
                                                a(href='colors_brown.html') Brown palette

                                            li
                                                a(href='colors_grey.html') Grey palette

                                            li
                                                a(href='colors_slate.html') Slate palette

                                    li
                                        a(href='../RTL/index.html')
                                            i.icon-width
                                            |  RTL version

                            .col-md-3
                                span.menu-heading.underlined Layout

                                ul.menu-list
                                    li
                                        a(href='#')
                                            i.icon-indent-decrease2
                                            |  Sidebars

                                        ul
                                            li
                                                a(href='sidebar_default_collapse.html') Default collapsible

                                            li
                                                a(href='sidebar_default_hide.html') Default hideable

                                            li
                                                a(href='sidebar_mini_collapse.html') Mini collapsible

                                            li
                                                a(href='sidebar_mini_hide.html') Mini hideable

                                            li
                                                a(href='#') Dual sidebar

                                                ul
                                                    li
                                                        a(href='sidebar_dual.html') Dual sidebar

                                                    li
                                                        a(href='sidebar_dual_double_collapse.html') Dual double collapse

                                                    li
                                                        a(href='sidebar_dual_double_hide.html') Dual double hide

                                                    li
                                                        a(href='sidebar_dual_swap.html') Swap sidebars

                                            li
                                                a(href='#') Double sidebar

                                                ul
                                                    li
                                                        a(href='sidebar_double_collapse.html') Collapse main sidebar

                                                    li
                                                        a(href='sidebar_double_hide.html') Hide main sidebar

                                                    li
                                                        a(href='sidebar_double_fix_default.html') Fix default width

                                                    li
                                                        a(href='sidebar_double_fix_mini.html') Fix mini width

                                                    li
                                                        a(href='sidebar_double_visible.html') Opposite sidebar visible

                                            li
                                                a(href='sidebar_categories.html') Separate categories

                                            li
                                                a(href='sidebar_hidden.html') Hidden sidebar

                                            li
                                                a(href='sidebar_dark.html') Dark sidebar

                                            li
                                                a(href='sidebar_components.html') Sidebar components

                                    li
                                        a(href='#')
                                            i.icon-sort
                                            |  Vertical navigation

                                        ul
                                            li
                                                a(href='navigation_vertical_collapsible.html') Collapsible menu

                                            li
                                                a(href='navigation_vertical_accordion.html') Accordion menu

                                            li
                                                a(href='navigation_vertical_sizing.html') Navigation sizing

                                            li
                                                a(href='navigation_vertical_bordered.html') Bordered navigation

                                            li
                                                a(href='navigation_vertical_right_icons.html') Right icons

                                            li
                                                a(href='navigation_vertical_labels_badges.html') Labels and badges

                                            li
                                                a(href='navigation_vertical_disabled.html') Disabled navigation links

                                    li
                                        a(href='#')
                                            i.icon-transmission
                                            |  Horizontal navigation

                                        ul
                                            li
                                                a(href='navigation_horizontal_click.html') Submenu on click

                                            li
                                                a(href='navigation_horizontal_hover.html') Submenu on hover

                                            li
                                                a(href='navigation_horizontal_elements.html') With custom elements

                                            li
                                                a(href='navigation_horizontal_tabs.html') Tabbed navigation

                                            li
                                                a(href='navigation_horizontal_disabled.html') Disabled navigation links

                                            li
                                                a(href='navigation_horizontal_mega.html') Horizontal mega menu

                                    li
                                        a(href='#')
                                            i.icon-paragraph-justify3
                                            |  Navbars

                                        ul
                                            li
                                                a(href='navbar_single.html') Single navbar

                                            li
                                                a(href='#') Multiple navbars

                                                ul
                                                    li
                                                        a(href='navbar_multiple_navbar_navbar.html') Navbar + navbar

                                                    li
                                                        a(href='navbar_multiple_header_navbar.html') Header + navbar

                                                    li
                                                        a(href='navbar_multiple_navbar_content.html') Navbar + content

                                                    li
                                                        a(href='navbar_multiple_top_bottom.html') Top + bottom

                                            li
                                                a(href='navbar_colors.html') Color options

                                            li
                                                a(href='navbar_sizes.html') Sizing options

                                            li
                                                a(href='navbar_hideable.html') Hide on scroll

                                            li
                                                a(href='navbar_components.html') Navbar components

                                    li
                                        a(href='#')
                                            i.icon-tree5
                                            |  Menu levels

                                        ul
                                            li
                                                a(href='#')
                                                    i.icon-IE
                                                    |  Second level

                                            li
                                                a(href='#')
                                                    i.icon-firefox
                                                    |  Second level with child

                                                ul
                                                    li
                                                        a(href='#')
                                                            i.icon-android
                                                            |  Third level

                                                    li
                                                        a(href='#')
                                                            i.icon-apple2
                                                            |  Third level with child

                                                        ul
                                                            li
                                                                a(href='#')
                                                                    i.icon-html5
                                                                    |  Fourth level

                                                            li
                                                                a(href='#')
                                                                    i.icon-css3
                                                                    |  Fourth level

                                                    li
                                                        a(href='#')
                                                            i.icon-windows
                                                            |  Third level

                                            li
                                                a(href='#')
                                                    i.icon-chrome
                                                    |  Second level

                            .col-md-3
                                span.menu-heading.underlined Data visualization

                                ul.menu-list
                                    li
                                        a(href='#')
                                            i.icon-graph
                                            |  Echarts library

                                        ul
                                            li
                                                a(href='echarts_lines_areas.html') Lines and areas

                                            li
                                                a(href='echarts_columns_waterfalls.html') Columns and waterfalls

                                            li
                                                a(href='echarts_bars_tornados.html') Bars and tornados

                                            li
                                                a(href='echarts_scatter.html') Scatter charts

                                            li
                                                a(href='echarts_pies_donuts.html') Pies and donuts

                                            li
                                                a(href='echarts_funnels_chords.html') Funnels and chords

                                            li
                                                a(href='echarts_candlesticks_others.html') Candlesticks and others

                                            li
                                                a(href='echarts_combinations.html') Chart combinations

                                    li
                                        a(href='#')
                                            i.icon-statistics
                                            |  D3 library

                                        ul
                                            li
                                                a(href='d3_lines_basic.html') Simple lines

                                            li
                                                a(href='d3_lines_advanced.html') Advanced lines

                                            li
                                                a(href='d3_bars_basic.html') Simple bars

                                            li
                                                a(href='d3_bars_advanced.html') Advanced bars

                                            li
                                                a(href='d3_pies.html') Pie charts

                                            li
                                                a(href='d3_circle_diagrams.html') Circle diagrams

                                            li
                                                a(href='d3_tree.html') Tree layout

                                            li
                                                a(href='d3_other.html') Other charts

                                    li
                                        a(href='#')
                                            i.icon-stats-dots
                                            |  Dimple library

                                        ul
                                            li
                                                a(href='#') Line charts

                                                ul
                                                    li
                                                        a(href='dimple_lines_horizontal.html') Horizontal orientation

                                                    li
                                                        a(href='dimple_lines_vertical.html') Vertical orientation

                                            li
                                                a(href='#') Bar charts

                                                ul
                                                    li
                                                        a(href='dimple_bars_horizontal.html') Horizontal orientation

                                                    li
                                                        a(href='dimple_bars_vertical.html') Vertical orientation

                                            li
                                                a(href='#') Area charts

                                                ul
                                                    li
                                                        a(href='dimple_area_horizontal.html') Horizontal orientation

                                                    li
                                                        a(href='dimple_area_vertical.html') Vertical orientation

                                            li
                                                a(href='#') Step charts

                                                ul
                                                    li
                                                        a(href='dimple_step_horizontal.html') Horizontal orientation

                                                    li
                                                        a(href='dimple_step_vertical.html') Vertical orientation

                                            li
                                                a(href='dimple_pies.html') Pie charts

                                            li
                                                a(href='dimple_rings.html') Ring charts

                                            li
                                                a(href='dimple_scatter.html') Scatter charts

                                            li
                                                a(href='dimple_bubble.html') Bubble charts

                                    li
                                        a(href='#')
                                            i.icon-stats-bars
                                            |  C3 library

                                        ul
                                            li
                                                a(href='c3_lines_areas.html') Lines and areas

                                            li
                                                a(href='c3_bars_pies.html') Bars and pies

                                            li
                                                a(href='c3_advanced.html') Advanced examples

                                            li
                                                a(href='c3_axis.html') Chart axis

                                            li
                                                a(href='c3_grid.html') Grid options

                                    li
                                        a(href='#')
                                            i.icon-google
                                            |  Google visualization

                                        ul
                                            li
                                                a(href='google_lines.html') Line charts

                                            li
                                                a(href='google_bars.html') Bar charts

                                            li
                                                a(href='google_pies.html') Pie charts

                                            li
                                                a(href='google_scatter_bubble.html') Bubble &amp; scatter charts

                                            li
                                                a(href='google_other.html') Other charts

                            .col-md-3
                                span.menu-heading.underlined Extras

                                ul.menu-list
                                    li
                                        a(href='animations_css3.html')
                                            i.icon-spinner3.spinner.position-left
                                            |  CSS3 animations

                                    li
                                        a(href='#')
                                            i.icon-spinner10.spinner.position-left
                                            |  Velocity animations

                                        ul
                                            li
                                                a(href='animations_velocity_basic.html') Basic usage

                                            li
                                                a(href='animations_velocity_ui.html') UI pack effects

                                            li
                                                a(href='animations_velocity_examples.html') Advanced examples

                                    li
                                        a(href='#')
                                            i.icon-map5
                                            |  Maps integration

                                        ul
                                            li
                                                a(href='#') Google maps

                                                ul
                                                    li
                                                        a(href='maps_google_basic.html') Basics

                                                    li
                                                        a(href='maps_google_controls.html') Controls

                                                    li
                                                        a(href='maps_google_markers.html') Markers

                                                    li
                                                        a(href='maps_google_drawings.html') Map drawings

                                                    li
                                                        a(href='maps_google_layers.html') Layers

                                            li
                                                a(href='maps_vector.html') Vector maps

                                    li
                                        a(href='#')
                                            i.icon-magazine
                                            |  Timelines

                                        ul
                                            li
                                                a(href='timelines_left.html') Left timeline

                                            li
                                                a(href='timelines_right.html') Right timeline

                                            li
                                                a(href='timelines_center.html') Centered timeline

                                    li
                                        a(href='#')
                                            i.icon-thumbs-up2.position-left
                                            |  Icons

                                        ul
                                            li
                                                a(href='icons_glyphicons.html') Glyphicons

                                            li
                                                a(href='icons_icomoon.html') Icomoon

                                            li
                                                a(href='icons_fontawesome.html') Font awesome

            li.dropdown
                a.dropdown-toggle(href='#' data-toggle='dropdown')
                    i.icon-make-group.position-left
                    |  Page kits
                    span.caret

                ul.dropdown-menu.width-250
                    li.dropdown-header Apps

                    li.dropdown-submenu
                        a(href='#')
                            i.icon-task
                            |  Task manager

                        ul.dropdown-menu.width-200
                            li.dropdown-header.highlight Options

                            li
                                a(href='task_manager_grid.html') Task grid

                            li
                                a(href='task_manager_list.html') Task list

                            li
                                a(href='task_manager_detailed.html') Task detailed

                    li.dropdown-submenu
                        a(href='#')
                            i.icon-cash3
                            |  Invoicing

                        ul.dropdown-menu.width-200
                            li.dropdown-header.highlight Options

                            li
                                a(href='invoice_template.html') Invoice template

                            li
                                a(href='invoice_grid.html') Invoice grid

                            li
                                a(href='invoice_archive.html') Invoice archive

                    li.dropdown-header User

                    li.dropdown-submenu
                        a(href='#')
                            i.icon-people
                            |  User pages

                        ul.dropdown-menu.width-200
                            li.dropdown-header.highlight Basic

                            li
                                a(href='user_pages_cards.html') User cards

                            li
                                a(href='user_pages_list.html') User list

                            li.dropdown-header.highlight Profiles

                            li
                                a(href='user_pages_profile.html') Simple profile

                            li
                                a(href='user_pages_profile_cover.html') Profile with cover

                    li.dropdown-submenu
                        a(href='#')
                            i.icon-user-plus
                            |  Login &amp; registration

                        ul.dropdown-menu.width-200
                            li.dropdown-header.highlight Basic

                            li
                                a(href='login_simple.html') Simple login

                            li
                                a(href='login_advanced.html') More login info

                            li
                                a(href='login_registration.html') Simple registration

                            li
                                a(href='login_registration_advanced.html') More registration info

                            li
                                a(href='login_validation.html') With validation

                            li
                                a(href='login_tabbed.html') Tabbed form

                            li
                                a(href='login_modals.html') Inside modals

                            li.dropdown-header.highlight Service

                            li
                                a(href='login_unlock.html') Unlock user

                            li
                                a(href='login_password_recover.html') Reset password

                            li.dropdown-header.highlight Other

                            li
                                a(href='login_hide_navbar.html') Hide navbar

                            li
                                a(href='login_transparent.html') Transparent box

                            li
                                a(href='login_background.html') Background option

                    li.dropdown-header Kits

                    li.dropdown-submenu
                        a(href='#')
                            i.icon-search4
                            |  Search

                        ul.dropdown-menu.width-200
                            li.dropdown-header.highlight Basic

                            li
                                a(href='search_basic.html') Basic search results

                            li
                                a(href='search_users.html') User search results

                            li.dropdown-header.highlight Media

                            li
                                a(href='search_images.html') Image search results

                            li
                                a(href='search_videos.html') Video search results

                    li.dropdown-submenu
                        a(href='#')
                            i.icon-images2
                            |  Gallery

                        ul.dropdown-menu.width-200
                            li.dropdown-header.highlight Options

                            li
                                a(href='gallery_grid.html') Media grid

                            li
                                a(href='gallery_titles.html') Media with titles

                            li
                                a(href='gallery_description.html') Media with description

                            li
                                a(href='gallery_library.html') Media library

                    li.dropdown-header Tools

                    li.dropdown-submenu
                        a(href='#')
                            i.icon-lifebuoy
                            |  Support

                        ul.dropdown-menu.width-200
                            li.dropdown-header.highlight Chats

                            li
                                a(href='support_conversation_layouts.html') Conversation layouts

                            li
                                a(href='support_conversation_options.html') Conversation options

                            li.dropdown-header.highlight Knowledgebase

                            li
                                a(href='support_knowledgebase.html') Knowledgebase

                            li
                                a(href='support_faq.html') FAQ page

                    li.dropdown-submenu
                        a(href='#')
                            i.icon-warning
                            |  Error pages

                        ul.dropdown-menu.width-200
                            li.dropdown-header.highlight Options

                            li
                                a(href='error_403.html') Error 403

                            li
                                a(href='error_404.html') Error 404

                            li
                                a(href='error_405.html') Error 405

                            li
                                a(href='error_500.html') Error 500

                            li
                                a(href='error_503.html') Error 503

                            li
                                a(href='error_offline.html') Offline page

            li.dropdown
                a.dropdown-toggle(href='#' data-toggle='dropdown')
                    i.icon-strategy.position-left
                    |  Starter kit
                    span.caret

                ul.dropdown-menu.width-200
                    li.dropdown-header Basic layouts

                    li.dropdown-submenu
                        a.dropdown-toggle(href='#' data-toggle='dropdown')
                            i.icon-grid2
                            |  Columns

                        ul.dropdown-menu
                            li.dropdown-header.highlight Options

                            li
                                a(href='starters/1_col.html') One column

                            li
                                a(href='starters/2_col.html') Two columns

                            li.dropdown-submenu
                                a(href='#') Three columns

                                ul.dropdown-menu
                                    li.dropdown-header.highlight Sidebar position

                                    li
                                        a(href='starters/3_col_dual.html') Dual sidebars

                                    li
                                        a(href='starters/3_col_double.html') Double sidebars

                            li
                                a(href='starters/4_col.html') Four columns

                    li.dropdown-submenu
                        a.dropdown-toggle(href='#' data-toggle='dropdown')
                            i.icon-paragraph-justify3
                            |  Navbars

                        ul.dropdown-menu
                            li.dropdown-header.highlight Fixed navbars

                            li
                                a(href='starters/layout_navbar_fixed_main.html') Fixed main navbar

                            li
                                a(href='starters/layout_navbar_fixed_secondary.html') Fixed secondary navbar

                            li
                                a(href='starters/layout_navbar_fixed_both.html') Both navbars fixed

                    li.dropdown-header Optional layouts

                    li
                        a(href='starters/layout_boxed.html')
                            i.icon-align-center-horizontal
                            |  Fixed width

                    li
                        a(href='starters/layout_sidebar_sticky.html')
                            i.icon-flip-vertical3
                            |  Sticky sidebar

        ul.nav.navbar-nav.navbar-nav-material.navbar-right
            li
                a(href='changelog.html')
                    i.icon-history.position-left
                    | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;Changelog

                    span.label.label-inline.position-right.bg-success-400 1.4

            li.dropdown
                a.dropdown-toggle(href='#' data-toggle='dropdown')
                    i.icon-cog3

                    span.visible-xs-inline-block.position-right Share

                    span.caret

                ul.dropdown-menu.dropdown-menu-right
                    li
                        a(href='#')
                            i.icon-user-lock
                            |  Account security

                    li
                        a(href='#')
                            i.icon-statistics
                            |  Analytics

                    li
                        a(href='#')
                            i.icon-accessibility
                            |  Accessibility

                    li.divider

                    li
                        a(href='#')
                            i.icon-gear
                            |  All settings