.page-header
    .page-header-content
        .page-title
            h4
                i.icon-arrow-left52.position-left

                span.text-semibold Home
                |  - Dashboard

                small.display-block Good morning, Victoria Baker!

        .heading-elements
            .heading-btn-group
                a.btn.btn-link.btn-float.has-text.text-size-small(href='#')
                    i.icon-bars-alt.text-indigo-400
                    span Statistics

                a.btn.btn-link.btn-float.has-text.text-size-small(href='#')
                    i.icon-calculator.text-indigo-400
                    |
                    span Invoices

                a.btn.btn-link.btn-float.has-text.text-size-small(href='#')
                    i.icon-calendar5.text-indigo-400
                    |
                    span Schedule