extends ./layout.pug
block title
    title Controle de Frequência - Cerebelo Curso nota 10
block page-title
    span.text-semibold Alunos
    |  - Controle de Frequência
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/datatables.min.js')
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/extensions/tools.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/acompanhamento_psicologico.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Alunos
    li.active Controle de Frequência
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Acompanhamento Psicológico
            .heading-elements
                a.btn.btn-primary(type='button' href="cadastrar_consulta.html")
                    i.icon-plus22
                    |  Cadastrar Consulta
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th Nome do Aluno
                        th Data da ultima consulta
                        th Profssional da ultima consulta
                        th Compareceu?
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 16
                        - n++
                        tr
                            td Marth Enright
                            td 22 Jun 1972
                            td Carlos Moreira
                            td
                                span.label.label-success Sim
                            +actions
                    tfoot
                        tr
                            td.input-filter Nome do Aluno
                            td.select-filter Data da ultima consulta
                            td.select-filter Profssional da ultima consulta
                            td.select-filter Compareceu?
                            td
    // /basic datatable
    // Vertical form modal
    #modal_form_vertical.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') &times;
                    h5.modal-title Cadastrar / Editar Consulta
                .modal-body
                    table.table.datatable-basic-modal.table-hover
                        thead
                            tr
                                th Data
                                th Profissional
                                th Compareceu?
                                th Observação
                        tbody
                           - var n = 0;
                            while n < 8
                                - n++
                                tr
                                    td 18/07/2016
                                    td Carlos Alberto
                                    td
                                        span.label.label-success Sim
                                    td Loren Psun dolor sit amei dloum uthurc ...
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Fechar
    // /vertical form modal
mixin actions
    td.text-center
        ul.icons-list
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-menu9
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a.efetuar-matricula(href='cadastrar_consulta.html').text-primary-800
                            i.icon-pencil3
                            |  Editar
                    li
                        a.visualizar-frequencia.text-primary-800(type='button' data-toggle='modal', data-target='#modal_form_vertical')
                            i.icon-eye
                            |  Ver Consultas
