extends ./layout.pug
block title
    title Acompanhamento Pedagógico - Cerebelo Curso nota 10
block page-title
    span.text-semibold Alunos
    |  - Acompanhamento Pedagógico
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/datatables.min.js')
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/extensions/tools.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/acompanhamento_pedagogico.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Alunos
    li.active Acompanhamento Pedagógico
block content
    // Basic datatable
    .panel.panel-flat
        .panel-heading
            h5.panel-title Acompanhamento Pedagógico
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
                    li
                        a(data-action='reload')
                    li
                        a(data-action='close')
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th Aluno
                        th Tipo de Matícula
                        th Curso ou Série
                        th Turno
                        th Turma
                        th Índice de Frequência
                        th Adquiriu Material?
                        th Status Acadêmico
                        th Status Financeiro
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 8
                        - n++
                        tr
                            td Mariana Costa
                            td
                                a(href='#') Curso
                            td Preparativo ENEM
                            td Noite
                            td Preparativo ENEM 3N
                            td 89%
                            td Sim
                            td
                                span.label.label-success Matrícula Ativa
                            td
                                span.label.label-danger Inadimplente
                            +actions
                        tr
                            td Bruno Carvalho
                            td
                                a(href='#') Colégio
                            td 2º Ano
                            td Manhã
                            td 2MB
                            td 93%
                            td Não
                            td
                                span.label.label-success Matrícula Ativa
                            td
                                span.label.label-success Adimplente
                            +actions
                tfoot
                    tr
                        td.input-filter Aluno
                        td.select-filter Tipo de Matícula
                        td.select-filter Curso ou Série
                        td.select-filter Turno
                        td.select-filter Turma
                        td.input-filter Índice de Frequência
                        td.select-filter Adquiriu Material?
                        td.select-filter Status Acadêmico
                        td.select-filter Status Financeiro
                        td
    // /basic datatable
    // Vertical form modal
    #modal_form_vertical.modal.fade
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') &times;
                    h5.modal-title Visualizar Horários de Entrada e Saída
                .modal-body
                    table.table.datatable-basic-modal.table-hover
                        thead
                            tr
                                th Data
                                th Hora de Entrada
                                th Hora de Saída
                        tbody
                           - var n = 0;
                            while n < 8
                                - n++
                                tr
                                    td 18/07/2016
                                    td 11:00
                                    td 12:00
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Fechar
    // /vertical form modal
mixin actions
    td.text-center
        ul.icons-list
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-menu9
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a.visualizar-frequencia.text-primary-800(type='button' data-toggle='modal', data-target='#modal_form_vertical')
                            i.icon-eye
                            |  Controle de Presença
