extends ./layout.pug
block title
    title Listagem de Alunos - Cerebelo Curso nota 10
block page-title
    span.text-semibold Alunos
    |  - Listagem de Alunos
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/datatables.min.js')
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/extensions/tools.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/alunos_matriculados.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Alunos
    li.active Listagem de Alunos
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Listagem Matrículas de Alunos
            .heading-elements
                a.btn.btn-primary(type='button' href="efetuar_matricula.html")
                    i.icon-plus22
                    |  Matricular Aluno   
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th Aluno
                        th Tipo de Matícula
                        th Curso ou Série
                        th Turno
                        th Turma
                        th Status
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 8
                        - n++
                        tr
                            td Mariana Costa
                            td
                                a(href='#') Curso
                            td Preparativo ENEM
                            td Noite
                            td Preparativo ENEM 3N
                            td
                                span.label.label-success Matrícula Ativa
                            +actions
                        tr
                            td Bruno Carvalho
                            td
                                a(href='#') Colégio
                            td 2º Ano
                            td Manhã
                            td 2MB
                            td
                                span.label.label-warning Matrícula Trancada
                            +actions
                tfoot
                    tr
                        td.input-filter Aluno
                        td.select-filter Tipo de Matícula
                        td.select-filter Curso ou Série
                        td.select-filter Turno
                        td.select-filter Turma
                        td.select-filter Status
                        td
    // /basic datatable
mixin actions
    td.text-center
        ul.icons-list
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-menu9
                ul.dropdown-menu.dropdown-menu-right
                    //-li
                        a.visualizar-frequencia(href='#').text-primary-800
                            i.icon-vcard
                            |  Visualizar Frequência
                    li
                        a.editar(href='efetuar_matricula.html').text-info-600
                            i.icon-pencil3
                            |  Editar
                    li
                        a.excluir(href='#').text-danger-700
                            i.icon-cross3
                            |  Excluir
                    li
                        a.ativar(href='#').text-green-800
                            i.icon-checkmark
                            |  Ativar
                    li
                        a.inativar(href='#').text-slate-800
                            i.icon-blocked
                            |  Inativar
                    li
                        a.salvar(href='#').text-indigo-400
                            i.icon-usb-stick
                            |  Salvar
                    li
                        a.fechar(href='#').text-brown-700
                            i.icon-exit
                            |  Fechar