extends ./layout.pug
block title
    title Cadastrar Aluno - Cerebelo Curso nota 10
block page-title
    span.text-semibold Alunos
    |  - Cadastrar Aluno
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/forms/wizards/steps.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')
    script(type='text/javascript', src='assets/js/core/libraries/jasny_bootstrap.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/validation/validate.min.js')
    script(type='text/javascript', src='assets/js/plugins/extensions/cookie.js')
    script(type='text/javascript', src='assets/js/core/libraries/jquery_ui/datepicker.min.js')
    script(type='text/javascript', src='assets/js/core/libraries/jquery_ui/effects.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/jgrowl.min.js')
    script(type='text/javascript', src='assets/js/plugins/ui/moment/moment.min.js')
    script(type='text/javascript', src='assets/js/plugins/pickers/daterangepicker.js')
    script(type='text/javascript', src='assets/js/plugins/pickers/anytime.min.js')
    script(type='text/javascript', src='assets/js/plugins/pickers/pickadate/picker.js')
    script(type='text/javascript', src='assets/js/plugins/pickers/pickadate/picker.date.js')
    script(type='text/javascript', src='assets/js/plugins/pickers/pickadate/picker.time.js')
    script(type='text/javascript', src='assets/js/plugins/pickers/pickadate/legacy.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/cadastrar_aluno.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li
        a(href="alunos_cadastrados.html") Alunos Cadastrados
    li.active Cadastrar Aluno
block content
    // Starting step
    .panel.panel-white
        .panel-heading
            h6.panel-title Cadastrar Aluno
        form.steps-starting-step(action='#')
            h6 Dados Pessoais
            fieldset
                .row
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Foto:
                            .col-lg-9.mb-15
                                input.form-control.file-styled(type='file')
                        .form-group
                            label.col-lg-3.control-label Nome:
                            .col-lg-9
                                .row
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Primeiro Nome')
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Sobrenome')
                        .form-group
                            label.col-lg-3.control-label Sexo:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='eugene@kopyov.com')
                        .form-group
                            label.col-lg-3.control-label Data de Nascimento:
                            .col-lg-9
                                .input-group.mb-15
                                    span.input-group-addon
                                        i.icon-calendar5
                                    input.form-control.pickadate(type='text', placeholder='Try me…')
                        .form-group
                            label.col-lg-3.control-label Naturalidade:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Nacionalidade:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                        .form-group
                            label.col-lg-3.control-label Estado Cívil:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                        .form-group
                            label.col-lg-3.control-label CPF:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                        .form-group
                            label.col-lg-3.control-label RG:
                            .col-lg-9
                                .row
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Número')
                                        input.form-control.mb-15(type='text', placeholder='Órgão Expedidor')
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Data de Expedição')
                                        .mb-15
                                            select.select(data-placeholder='UF')
                                                option
                                                option(value='1') MG
                                                |  
                                                option(value='2') RG
                                                |  
                                                option(value='3') SP
                                                |  
                                                option(value='4') ES
            h6 Dados de Contato
            fieldset
                .row
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Email:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='eugene@kopyov.com')
                        .form-group
                            label.col-lg-3.control-label Telefone 01:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                        .form-group
                            label.col-lg-3.control-label Telefone 02:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                        .form-group
                            label.col-lg-3.control-label Celular:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Endereço:
                            .col-lg-9
                                .row
                                    .col-md-6                         
                                        input.form-control.mb-15(type='text', placeholder='CEP')
                                    .col-md-12
                                        input.form-control.mb-15(type='text', placeholder='Endereço')
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Número')
                                        input.form-control(type='text', placeholder='Cidade')
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Complemento')
                                        .mb-15
                                            select.select(data-placeholder='Estado')
                                                option
                                                option(value='1') Canada
                                                |  
                                                option(value='2') USA
                                                |  
                                                option(value='3') Australia
                                                |  
                                                option(value='4') Germany
            h6 Pais
            fieldset
                .row
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Nome da Mãe:
                            .col-lg-9
                                .row
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Primeiro Nome')
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Sobrenome')
                        .form-group
                            label.col-lg-3.control-label Email:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='eugene@kopyov.com')
                        .form-group
                            label.col-lg-3.control-label Telefone:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                        .form-group
                            label.col-lg-3.control-label Celular:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Nome do Pai:
                            .col-lg-9
                                .row
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Primeiro Nome')
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Sobrenome')
                        .form-group
                            label.col-lg-3.control-label Email:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='eugene@kopyov.com')
                        .form-group
                            label.col-lg-3.control-label Telefone:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                        .form-group
                            label.col-lg-3.control-label Celular:
                            .col-lg-9
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
            h6 Informações Adicionais
            fieldset
                .row
                    .col-md-6
                        .form-group.mb-15
                            label.col-lg-3.control-label Onde estudou nos anos anteriores:
                            .col-lg-9
                                .row
                                    .col-md-8
                                        input.form-control.mb-15(type='text', placeholder='Nome do colégio ou curso')
                                        input.form-control.mb-15(type='text', placeholder='Nome do colégio ou curso')
                                        input.form-control.mb-15(type='text', placeholder='Nome do colégio ou curso')
                                    .col-md-4
                                        input.form-control.mb-15(type='text', placeholder='Ano')
                                        input.form-control.mb-15(type='text', placeholder='Ano')
                                        input.form-control.mb-15(type='text', placeholder='Ano')
                    .col-md-6
                        .form-group
                            label Observações
                            textarea.form-control(name='additional-info', rows='5', cols='5', placeholder='If you want to add any info, do it here.')
    // /starting step