extends ./layout.pug
block title
    title Cadastrar Curso - Cerebelo Curso nota 10
block page-title
    span.text-semibold Curso
    |  - Cadastrar Curso 
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/cadastrar_curso.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Curso
    li Turmas
    li.active Cadastrar Turma
block content
    // /Formulário de Cadastro
    .panel.panel-white
        .panel-heading
            h6.panel-title Cadastrar Curso
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
                    li
                        a(data-action='reload')
                    li
                        a(data-action='close')
        .panel-body
            form.form-horizontal(action='#')
                .row
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Nome do Curso:
                            .col-lg-9
                                input.form-control(type='text', placeholder='eugene@kopyov.com')
                        .form-group
                            label.col-lg-3.control-label Foco
                            .col-lg-9
                                textarea.form-control(rows='5', cols='5', placeholder='Enter your message here')
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Observações
                            .col-lg-9
                                textarea.form-control(rows='5', cols='5', placeholder='Enter your message here')
                .text-right
                    button.btn.btn-default.fechar(type='submit')
                        | Cancelar
                        i.icon-cross3.position-right
                    button.btn.btn-primary.salvar(type='submit')
                        | Salvar
                        i.icon-arrow-right14.position-right
            // /2 columns form
    // /Formulário de Cadastro