extends ./layout.pug
block title
    title Cadastrar Aula Particular - Cerebelo Curso nota 10
block page-title
    span.text-semibold Horários e Agenda
    |  - Aulas Particulares
    |  - Cadastrar Aula Particular
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/ui/moment/moment.min.js')
    script(type='text/javascript', src='assets/js/plugins/ui/fullcalendar/fullcalendar.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/cadastrar_aula_particular.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Horários e Agenda
    li Aulas Particulares
    li.active Cadastrar Aula Particular
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Cadastrar Aula Particular
        .panel-body
            form.form-horizontal(action='#')
                .row
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Aluno
                            .col-lg-9
                                select.select
                                    optgroup(label='Mountain Time Zone')
                                        option(value='AZ') Arizona
                                        option(value='CO') Colorado
                                        option(value='ID') Idaho
                                        option(value='WY') Wyoming
                                    optgroup(label='Central Time Zone')
                                        option(value='AL') Alabama
                                        option(value='AR') Arkansas
                                        option(value='KS') Kansas
                                        option(value='KY') Kentucky
                        .form-group
                            label.col-lg-3.control-label Disciplina
                            .col-lg-9
                                select.select
                                    optgroup(label='Mountain Time Zone')
                                        option(value='AZ') Arizona
                                        option(value='CO') Colorado
                                        option(value='ID') Idaho
                                        option(value='WY') Wyoming
                                    optgroup(label='Central Time Zone')
                                        option(value='AL') Alabama
                                        option(value='AR') Arkansas
                                        option(value='KS') Kansas
                                        option(value='KY') Kentucky
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Professor
                            .col-lg-9
                                select.select
                                    optgroup(label='Mountain Time Zone')
                                        option(value='AZ') Arizona
                                        option(value='CO') Colorado
                                        option(value='ID') Idaho
                                        option(value='WY') Wyoming
                                    optgroup(label='Central Time Zone')
                                        option(value='AL') Alabama
                                        option(value='AR') Arkansas
                                        option(value='KS') Kansas
                                        option(value='KY') Kentucky
                        .form-group
                            label.col-lg-3.control-label Observação:
                            .col-lg-9
                                textarea.form-control(rows='5', cols='5', placeholder='Enter your message here')
                    .col-md-12
                        .fullcalendar-agenda.mb-20
                    // /filtered results
                .text-right
                    button.btn.btn-default.fechar(type='submit')
                        | Cancelar
                        i.icon-cross3.position-right
                    button.btn.btn-primary.salvar(type='submit')
                        | Salvar
                        i.icon-arrow-right14.position-right
            // /2 columns form
    // /Formulário de Cadastro