extends ./layout.pug
block title
    title Cadastrar Professor - Cerebelo Curso nota 10
block page-title
    span.text-semibold Professores
    |  - Cadastrar Professor
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/pages/form_layouts.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/cadastrar_professor.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Professores
    li.active Cadastrar Professor
block content
    // /Formulário de Cadastro
    .panel.panel-white
        .panel-heading
            h6.panel-title Cadastrar Professor
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
                    li
                        a(data-action='reload')
                    li
                        a(data-action='close')
        .panel-body
            form.form-horizontal(action='#')
                .row
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Selecione o Professor:
                            .col-lg-9.mb-15
                                select.select(data-placeholder='UF')
                                    option
                                    option(value='1') MG
                                    |  
                                    option(value='2') RG
                                    |  
                                    option(value='3') SP
                                    |  
                                    option(value='4') ES
                        .form-group
                                label.col-lg-3.control-label Valor Individual Turma:
                                .col-lg-9
                                    input.form-control(type='text', placeholder='eugene@kopyov.com')
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Valor Grupo Turma:
                            .col-lg-9
                                input.form-control(type='text', placeholder='eugene@kopyov.com')
                        .form-group
                            label.col-lg-3.control-label Valor Individual Particular:
                            .col-lg-9
                                input.form-control(type='text', placeholder='eugene@kopyov.com')
                        .form-group
                            label.col-lg-3.control-label Valor Grupo Particular:
                            .col-lg-9
                                input.form-control(type='text', placeholder='eugene@kopyov.com')
                .row
                    .col-md-12
                        .form-group
                            label.text-semibold.col-md-12 Disciplina(s)
                            .col-md-4
                                .checkbox
                                    label
                                        input(type='checkbox', checked='checked')
                                        | Português
                                .checkbox
                                    label
                                        input(type='checkbox')
                                        | Matemática
                                .checkbox
                                    label
                                        input(type='checkbox', checked='checked')
                                        | História
                            .col-md-4
                                .checkbox
                                    label
                                        input(type='checkbox', checked='checked')
                                        | Português
                                .checkbox
                                    label
                                        input(type='checkbox')
                                        | Matemática
                                .checkbox
                                    label
                                        input(type='checkbox', checked='checked')
                                        | História
                            .col-md-4
                                .checkbox
                                    label
                                        input(type='checkbox', checked='checked')
                                        | Português
                                .checkbox
                                    label
                                        input(type='checkbox')
                                        | Matemática
                                .checkbox
                                    label
                                        input(type='checkbox', checked='checked')
                                        | História
                .text-right
                    button.btn.btn-default.fechar(type='submit')
                        | Cancelar
                        i.icon-cross3.position-right
                    button.btn.btn-primary.salvar(type='submit')
                        | Salvar
                        i.icon-arrow-right14.position-right
            // /2 columns form
    // /Formulário de Cadastro