extends ./layout.pug
block title
    title Cadastrar Consulta Psicológica - Cerebelo Curso nota 10
block page-title
    span.text-semibold Acompanhamento Psicológico
    |  - Cadastrar Consulta
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/cadastrar_consulta.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Acompanhamento Psicológico
    li.active Cadastrar Consulta
block content
    // /Formulário de Cadastro
    .panel.panel-white
        .panel-heading
            h6.panel-title Cadastrar Consulta
        .panel-body
            form.form-horizontal(action='#')
                .row
                    .col-md-12.pl-20.pr-20
                        .form-group
                            label.control-label Aluno
                            select.select
                                optgroup(label='Mountain Time Zone')
                                    option(value='AZ') Arizona
                                    option(value='CO') Colorado
                                    option(value='ID') Idaho
                                    option(value='WY') Wyoming
                                optgroup(label='Central Time Zone')
                                    option(value='AL') Alabama
                                    option(value='AR') Arkansas
                                    option(value='KS') Kansas
                                    option(value='KY') Kentucky
                        .form-group
                            label.control-label Data:
                            input.form-control(type='text', placeholder='eugene@kopyov.com')
                        .form-group
                                label Compareceu à consulta?
                                .mb-15
                                    label.radio-inline
                                        input(type='radio', name='radio-unstyled-inline-left', checked='checked')
                                        | Sim
                                    label.radio-inline
                                        input(type='radio', name='radio-unstyled-inline-left')
                                        | Não
                        .form-group
                            label.control-label Observações
                            textarea.form-control(rows='5', cols='5', placeholder='Enter your message here')
                .text-right
                    button.btn.btn-default.fechar(type='submit')
                        | Cancelar
                        i.icon-cross3.position-right
                    button.btn.btn-primary.salvar(type='submit')
                        | Salvar
                        i.icon-arrow-right14.position-right
            // /2 columns form
    // /Formulário de Cadastro