extends ./layout.pug
block title
    title Cadastrar Conta a Receber - Cerebelo Curso nota 10
block page-title
    span.text-semibold Contas a Receber
    |  - Cadastrar Conta a Receber
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/cadastrar_conta_a_receber.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Contas a Receber
    li.active Cadastrar Conta a Receber
block content
    // /Formulário de Cadastro
    .panel.panel-white
        .panel-heading
            h6.panel-title Cadastrar Conta a Receber
        .panel-body
            form.form-horizontal(action='#')
                .row
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Nome da Conta:
                            .col-lg-9
                                input.form-control(type='text', placeholder='eugene@kopyov.com')
                        .form-group
                            label.col-lg-3.control-label Plano de Contas
                            .col-lg-9
                                select.select
                                    optgroup(label='Despesas Fixas' class='cat1')
                                        option(value='AZ' class='cat2' disabled='disabled') Arizona
                                        option(value='CO') Colorado
                                        option(value='ID') Idaho
                                        option(value='WY') Wyoming
                                    optgroup(label='Central Time Zone')
                                        option(value='AL') Alabama
                                        option(value='AR') Arkansas
                                        option(value='KS') Kansas
                                        option(value='KY') Kentucky
                        .form-group
                            label.col-lg-3.control-label Aluno
                            .col-lg-9
                                select.select
                                    optgroup(label='Professor' class='cat1')
                                        option(value='AZ' class='cat2' disabled='disabled') Arizona
                                        option(value='CO') Colorado
                                        option(value='ID') Idaho
                                        option(value='WY') Wyoming
                                    optgroup(label='Secertárias')
                                        option(value='AL') Alabama
                                        option(value='AR') Arkansas
                                        option(value='KS') Kansas
                                        option(value='KY') Kentucky
                        .form-group
                            label.col-lg-3.control-label Data de Vencimento:
                            .col-lg-9
                                input.form-control(type='text', placeholder='eugene@kopyov.com')
                    .col-md-6
                        .form-group
                            label.col-lg-3.control-label Valor:
                            .col-lg-9
                                input.form-control(type='text', placeholder='eugene@kopyov.com')
                        .form-group
                            label.col-lg-3.control-label Alterações:
                            .col-lg-9
                                .row
                                    .col-md-4
                                        input.form-control.mb-15(type='text', placeholder='Juros')
                                    .col-md-4
                                        input.form-control.mb-15(type='text', placeholder='Acréscimos')
                                    .col-md-4
                                        input.form-control.mb-15(type='text', placeholder='Descontos')
                        .form-group
                            label.col-lg-3.control-label Observações
                            .col-lg-9
                                textarea.form-control(rows='5', cols='5', placeholder='Enter your message here')
                .text-right
                    button.btn.btn-default.fechar(type='submit')
                        | Cancelar
                        i.icon-cross3.position-right
                    button.btn.btn-primary.salvar(type='submit')
                        | Salvar
                        i.icon-arrow-right14.position-right
            // /2 columns form
    // /Formulário de Cadastro