extends ./layout.pug
block title
    title Cursos - Cerebelo Curso nota 10
block page-title
    span.text-semibold Curso
    |  - Listagem de Cursos
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/datatables.min.js')
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/extensions/tools.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/cursos.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Curso
    li.active Listagem de Cursos
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Listagem de Cursos
            .heading-elements
                a.btn.btn-primary(type='button' href="cadastrar_curso.html")
                    i.icon-plus22
                    |  Adicionar Curso
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th Nome do Curso
                        th Foco
                        th Quantidade de Turmas
                        th Quantidade de Alunos
                        th Status
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 16
                        - n++
                        tr
                            td Intensivo ENEM
                            td Loren Psun dolor sit amei dloum uthurc ...
                            td 4
                            td 87
                            td
                                span.label.label-success Ativo
                            +actions
                tfoot
                    tr
                        td.input-filter Nome do Curso
                        td.input-filter Foco
                        td.input-filter Quantidade de Turmas
                        td.input-filter Quantidade de Alunos
                        td.select-filter Status
                        td
mixin actions
    td.text-center
        ul.icons-list
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-menu9
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a.efetuar-matricula(href='#').text-primary-800
                            i.icon-vcard
                            |  Efetuar Matrícula
                    li
                        a.editar(href='#').text-info-600
                            i.icon-pencil3
                            |  Editar
                    li
                        a.excluir(href='#').text-danger-700
                            i.icon-cross3
                            |  Excluir
                    li
                        a.ativar(href='#').text-green-800
                            i.icon-checkmark
                            |  Ativar
                    li
                        a.inativar(href='#').text-slate-800
                            i.icon-blocked
                            |  Inativar
                    li
                        a.salvar(href='#').text-indigo-400
                            i.icon-usb-stick
                            |  Salvar
                    li
                        a.fechar(href='#').text-brown-700
                            i.icon-exit
                            |  Fechar