extends ./layout.pug
block title
    title Editar Grade de Horários - Cerebelo Curso nota 10
block page-title
    span.text-semibold Horários e Agenda
    |  - Grades de Horários
    |  - Colégio: 2ºANO C
    |  - Editar grade de horários
block theme-js-files
    script(type='text/javascript', src='assets/js/core/libraries/jquery_ui/interactions.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/styling/switchery.min.js')
    script(type='text/javascript', src='assets/js/plugins/ui/moment/moment.min.js')
    script(type='text/javascript', src='assets/js/plugins/ui/fullcalendar/fullcalendar.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/wizards/steps.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')
    script(type='text/javascript', src='assets/js/core/libraries/jasny_bootstrap.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/validation/validate.min.js')
    script(type='text/javascript', src='assets/js/plugins/extensions/cookie.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/pages/form_layouts.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/grade_de_horarios.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Horários e Agenda
    li.active Grade de Horários
    li.active Colégio: 2ºANO C
    li.active Editar grade de horários
block content
block content
    // /Formulário de Cadastro
    .panel.panel-white
        .panel-heading
            h6.panel-title Grade de Horários
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='reload')
        .panel-body
            p.content-group
                | FullCalendar has a number of different &quot;views&quot;, or ways of displaying days and events. The following 5 views are all built in to FullCalendar: 
                code month
                | , 
                code basicWeek
                | , 
                code basicDay
                | , 
                code agendaWeek
                | , 
                code agendaDay
                | . You can define header buttons to allow the user to switch between them. Also you can set the initial view of the calendar with the defaultView option. The following example demonstrates 
                code agenda
                |  views.
            .row
                .col-md-12
                    #external-events.content-group
                        h6 Draggable Events
                        .fc-events-container.content-group.row
                            .col-md-3.mb-5
                                .fc-event(data-color='#546E7A') Sauna and stuff
                            .col-md-3.mb-5
                                .fc-event(data-color='#546E7A') Meeting with Fred
                            .col-md-3.mb-5
                                .fc-event(data-color='#FF7043') Shopping
                            .col-md-3.mb-5
                                .fc-event(data-color='#5C6BC0') Restaurant
                            .col-md-3.mb-5
                                .fc-event Basketball
                            .col-md-3.mb-5
                                .fc-event Daily routine
                            .col-md-3.mb-5
                                .fc-event(data-color='#26A69A') Lunch time
                        //- .checkbox.checkbox-right.checkbox-switchery.switchery-xs.text-center
                            label
                                input#drop-remove.switch(type='checkbox')
                                Remove after drop
                .col-md-12
                    .fullcalendar-agenda
            // Vertical form modal
            #modal_form_vertical.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal') &times;
                            h5.modal-title Vertical form
                        form(action='#')
                            .modal-body
                                .form-group
                                    label Tipo de Substituição
                                    select.select(data-placeholder='UF')
                                        option
                                        option(value='1') MG
                                        |  
                                        option(value='2') RG
                                        |  
                                        option(value='3') SP
                                        |  
                                        option(value='4') ES
                                .form-group
                                    label Motivo da Substituição:
                                    textarea.form-control(name='additional-info', rows='5', cols='5', placeholder='If you want to add any info, do it here.')
                                .form-group
                                    label Disciplina
                                    select.select(data-placeholder='UF')
                                        option
                                        option(value='1') MG
                                        |  
                                        option(value='2') RG
                                        |  
                                        option(value='3') SP
                                        |  
                                        option(value='4') ES
                                .form-group
                                    label Professor
                                    select.select(data-placeholder='UF')
                                        option
                                        option(value='1') MG
                                        |  
                                        option(value='2') RG
                                        |  
                                        option(value='3') SP
                                        |  
                                        option(value='4') ES
                            .modal-footer
                                button.btn.btn-link(type='button', data-dismiss='modal') Close
                                button.btn.btn-primary(type='submit') Submit form
            // /vertical form modal