extends ./layout.pug
block title
    title Financeiro por Matrícula - Cerebelo Curso nota 10
block page-title
    span.text-semibold Alunos
    |  - Financeiro ALuno
    |  - Matrículas Aluno
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/datatables.min.js')
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/extensions/tools.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/financeiro_aluno_por_matricula.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Alunos
    li Financeiro ALuno
    li.active Matrículas Aluno
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Listagem Matrículas de Alunos  
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th Tipo de Matícula
                        th Curso ou Série
                        th Turno
                        th Turma
                        th Status Acadêmico
                        th Status Financeiro
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 8
                        - n++
                        tr
                            td
                                a(href='#') Curso
                            td Preparativo ENEM
                            td Noite
                            td Preparativo ENEM 3N
                            td
                                span.label.label-success Matrícula Ativa
                            td
                                span.label.label-danger Inadimplente
                            +actions
                        tr
                            td
                                a(href='#') Colégio
                            td 2º Ano
                            td Manhã
                            td 2MB
                            td
                                span.label.label-warning Matrícula Trancada
                            td
                                span.label.label-success Adimplente
                            +actions
                tfoot
                    tr
                        td.select-filter Tipo de Matícula
                        td.select-filter Curso ou Série
                        td.select-filter Turno
                        td.select-filter Turma
                        td.select-filter Status Acadêmico
                        td.select-filter Status Financeiro
                        td
    // /basic datatable
mixin actions
    td.text-center
        ul.icons-list
            li
                a.editar(href='financeiro_aluno.html').text-info-600
                    i.icon-vcard
                    |  Ver Lançamentos