extends ./layout.pug
block title
    title Financeiro do Aluno - Cerebelo Curso nota 10
block page-title
    span.text-semibold Alunos
    |  - Matheus Castro
    |  - Colégio: 2º ANO A
    |  - Financeiro do Aluno
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/datatables.min.js')
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/extensions/tools.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/financeiro_aluno.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Alunos
    li Matheus Castro
    li Colégio - 2º ANO - Turma A
    li.active Financeiro do Aluno
block content
    // /Listagem
    .panel.panel-white
        .panel-heading
            h6.panel-title Financeiro do Aluno
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
                    li
                        a(data-action='reload')
                    li
                        a(data-action='close')
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th
                            .checkbox
                                label
                                    input(type='checkbox' na)
                        th Titulo
                        th Descrição
                        th Valor
                        th Valor Pago
                        th Data de Vencimento
                        th Status
                        th.text-center Actions
                tbody
                   - var n = 0;
                    while n < 8
                        - n++
                        tr
                            td
                                .checkbox
                                    label
                                        input(type='checkbox')
                            td Mensalidade
                            td Mensalidade do Curso de Medicina anual, turno manhã.
                            td R$ 580,00
                            td R$ 580,00
                            td 11/10/2016
                            td
                                span.label.label-success Dentro do Vencimento
                            +actions
                tfoot
                    tr
                        td
                        td.select-filter Título
                        td.input-filter Descrição
                        td.input-filter Valor
                        td.select-filter Data de Vencimento
                        td.select-filter Status
                        td
        #modal_form_vertical.modal.fade
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') &times;
                        h5.modal-title Editar lançamento financeiro do aluno
                    form.form-horizontal(action='#').pl-15.pr-15
                        .col-md-12.pl-20.pr-20
                            .form-group
                                label.control-label Nome da Conta:
                                input.form-control(type='text', placeholder='eugene@kopyov.com')
                            .form-group
                                label.control-label Plano de Contas
                                .select-plano-de-contas
                                    select.select
                                        optgroup(label='Despesas Fixas' class='cat1')
                                            option(value='AZ' class='cat2' disabled='disabled') Arizona
                                            option(value='CO' class='cat3') Colorado
                                            option(value='ID' class='cat3') Idaho
                                            option(value='WY' class='cat3') Wyoming
                                            option(value='AZ' class='cat2' disabled='disabled') Arizona
                                            option(value='CO' class='cat3') Colorado
                                            option(value='ID' class='cat3') Idaho
                                            option(value='WY' class='cat3') Wyoming
                                        optgroup(label='Despesas Extras' class='cat1')
                                            option(value='AZ' class='cat2' disabled='disabled') Arizona
                                            option(value='CO' class='cat3') Colorado
                                            option(value='ID' class='cat3') Idaho
                                            option(value='WY' class='cat3') Wyoming.form-group
                                label.control-label Plano de Contas
                                .select-plano-de-contas
                                    select.select
                                        optgroup(label='Despesas Fixas' class='cat1')
                                            option(value='AZ' class='cat2' disabled='disabled') Arizona
                                            option(value='CO' class='cat3') Colorado
                                            option(value='ID' class='cat3') Idaho
                                            option(value='WY' class='cat3') Wyoming
                                            option(value='AZ' class='cat2' disabled='disabled') Arizona
                                            option(value='CO' class='cat3') Colorado
                                            option(value='ID' class='cat3') Idaho
                                            option(value='WY' class='cat3') Wyoming
                                        optgroup(label='Despesas Extras' class='cat1')
                                            option(value='AZ' class='cat2' disabled='disabled') Arizona
                                            option(value='CO' class='cat3') Colorado
                                            option(value='ID' class='cat3') Idaho
                                            option(value='WY' class='cat3') Wyoming
                            .form-group
                                label.control-label Data de Vencimento:
                                input.form-control(type='text', placeholder='eugene@kopyov.com')
                            .form-group
                                label.control-label Valor:
                                input.form-control(type='text', placeholder='eugene@kopyov.com')
                            .form-group
                                label.control-label Alterações:
                                .row
                                    .col-md-4
                                        input.form-control.mb-15(type='text', placeholder='Juros')
                                    .col-md-4
                                        input.form-control.mb-15(type='text', placeholder='Acréscimos')
                                    .col-md-4
                                        input.form-control.mb-15(type='text', placeholder='Descontos')
                            .form-group
                                label.control-label Observações
                                textarea.form-control(rows='5', cols='5', placeholder='Enter your message here')
                        .modal-footer
                            button.btn.btn-link.fechar(type='button', data-dismiss='modal') Fechar
                            button.btn.btn-primary.salvar(type='submit') Salvar
mixin actions
    td.text-center
        ul.icons-list
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                    i.icon-menu9
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a.efetuar-matricula(href='#').text-primary-800
                            i.icon-barcode2
                            |  Visualizar Boleto
                    li
                        a.editar.text-info-600(type='button' data-toggle='modal', data-target='#modal_form_vertical')
                            i.icon-pencil3
                            |  Editar
                    li
                        a.editar.text-info-600(type='button' data-toggle='modal', data-target='#modal_form_vertical')
                            i.icon-pencil3
                            |  Dar baixa
                    li
                        a.excluir(href='#').text-danger-700
                            i.icon-cross3
                            |  Excluir