extends ./layout.pug
block title
    title Efetuar Matrícula - Cerebelo Curso nota 10
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/forms/wizards/steps.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')
    script(type='text/javascript', src='assets/js/core/libraries/jasny_bootstrap.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/validation/validate.min.js')
    script(type='text/javascript', src='assets/js/plugins/extensions/cookie.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/efetuar_matricula.js')
block page-title
    span.text-semibold Financeiro
    |  - Remuneração e Benefícios
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Financeiro
    li.active Remuneração e Benefícios
block content
    // /Formulário de Cadastro
    .panel.panel-white
        .panel-heading
            h6.panel-title Cadastrar Remuneração
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
                    li
                        a(data-action='reload')
                    li
                        a(data-action='close')
        .panel-body
            form.form-horizontal(action='#')
                .row
                    .col-md-6.pt-20
                        fieldset.pr-20.pl-20
                            .form-group
                                label All options are removed dynamically
                                    .input-group
                                        select.selectbox-remove-all
                                        option(value='AK') Alaska
                                        option(value='HI') Hawaii
                                        option(value='CA') California
                                        option(value='NV') Nevada
                                        option(value='OR') Oregon
                                    .input-group-btn
                                        button#remove-all.btn.btn-info(type='button') Remove options
                            
                    .col-md-6.pt-20.bg-contrast.mb-15
                        fieldset.pr-20.pl-20
                            legend.text-semibold
                                i.icon-reading.position-left
                                |  Responsável Financeiro
                            .form-group
                                label.control-label Nome:
                                .row
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Primeiro Nome')
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Sobrenome')
                            .form-group
                                label.control-label CPF:
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                            .form-group
                                label.control-label RG:
                                .row
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Número')
                                        input.form-control.mb-15(type='text', placeholder='Órgão Expedidor')
                                    .col-md-6
                                        input.form-control.mb-15(type='text', placeholder='Data de Expedição')
                                        .mb-15
                                            select.select(data-placeholder='UF')
                                                option
                                                option(value='1') MG
                                                |  
                                                option(value='2') RG
                                                |  
                                                option(value='3') SP
                                                |  
                                                option(value='4') ES
                            .form-group
                                label.control-label Email:
                                input.form-control.mb-15(type='text', placeholder='eugene@kopyov.com')
                            .form-group
                                label.control-label Telefone:
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                            .form-group
                                label.control-label Celular:
                                input.form-control.mb-15(type='text', placeholder='+99-99-9999-9999')
                .text-right
                    button.btn.btn-default.fechar(type='submit')
                        | Cancelar
                        i.icon-cross3.position-right
                    button.btn.btn-primary.salvar(type='submit')
                        | Salvar
                        i.icon-arrow-right14.position-right
            // /2 columns form