extends ./layout.pug
block title
    title Situação Financeira do Aluno - Cerebelo Curso nota 10
block page-title
    span.text-semibold Alunos
    |  - Situação Financeira
block theme-js-files
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/datatables.min.js')
    script(type='text/javascript', src='assets/js/plugins/tables/datatables/extensions/tools.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/selects/select2.min.js')
    script(type='text/javascript', src='assets/js/plugins/forms/styling/uniform.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/bootbox.min.js')
    script(type='text/javascript', src='assets/js/plugins/notifications/sweet_alert.min.js')
    script(type='text/javascript', src='assets/js/core/app.js')
    script(type='text/javascript', src='assets/js/cerebelo_pages/situacao_financeira.js')
block breadcrumb
    li
        a(href='index.html')
            i.icon-home2.position-left
            |  Home
    li Alunos
    li.active Situação Financeira do Aluno
block content
    // Basic datatable
    .panel.panel-flat
        .panel-heading
            h5.panel-title Situação Financeira do Aluno
            .heading-elements
                ul.icons-list
                    li
                        a(data-action='collapse')
                    li
                        a(data-action='reload')
                    li
                        a(data-action='close')
        .panel-body
            | The 
            code DataTables
            |  is a highly flexible tool, based upon the foundations of progressive enhancement, and will add advanced interaction controls to any HTML table. DataTables has most features enabled by default, so all you need to do to use it with your own tables is to call the construction function. Searching, ordering, paging etc goodness will be immediately added to the table, as shown in this example. 
            strong Datatables support all available table styling.
            table.table.datatable-column-search-inputs.table-striped.table-hover
                thead
                    tr
                        th Aluno
                        th Status Financeiro
                        th Status Acadêmico
                        th.text-center Actions
                tbody
                    - var n = 0;
                    while n < 8
                        - n++
                        tr
                            td Mariana Costa
                            td
                                span.label.label-danger Inadimplente
                            td
                                span.label.label-success Matriculado
                            +actions
                        tr
                            td Bruno Carvalho
                            td
                                span.label.label-success Adimplente
                            td
                                span.label.label-success Matriculado
                            +actions
                tfoot
                    tr
                        td.input-filter Aluno
                        td.select-filter Status Financeiro
                        td.select-filter Status Acadêmico
                        td
    // /basic datatable
    
    // Vertical form modal
    #modal_form_vertical.modal.fade
        .modal-dialog.modal-lg
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal') &times;
                    h5.modal-title Selecionar Matrícula
                .modal-body
                    table.table.datatable-basic-modal.table-hover
                        thead
                            tr
                                th Tipo de Matícula
                                th Curso ou Série
                                th Turno
                                th Turma
                                th Status Acadêmico
                                th Status Financeiro
                                th.text-center Actions
                        tbody
                            tr
                                td
                                    a(href='#') Curso
                                td Preparativo ENEM
                                td Noite
                                td Preparativo ENEM 3N
                                td
                                    span.label.label-success Matrícula Ativa
                                td
                                    span.label.label-danger Inadimplente
                                +actionsModal
                            tr
                                td
                                    a(href='#') Colégio
                                td 2º Ano
                                td Manhã
                                td 2MB
                                td
                                    span.label.label-warning Matrícula Trancada
                                td
                                    span.label.label-success Adimplente
                                +actionsModal
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Fechar
    // /vertical form modal
mixin actions
    td.text-center
        ul.icons-list
            li
                a.selecionar-matricula.text-primary-800(type='button' data-toggle='modal', data-target='#modal_form_vertical')
                    i.icon-vcard
                    |  Ver Financeiro
                    
mixin actionsModal
    td.text-center
        ul.icons-list
            li
                a.ver-lancamentos.text-primary-800(href="financeiro_aluno.html")
                    i.icon-barcode2
                    |  Ver lançamentos